<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094333193374-0nil8n2cli7q0smhcpf3aq5t83719ml7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094333193374-0nil8n2cli7q0smhcpf3aq5t83719ml7</string>
	<key>API_KEY</key>
	<string>AIzaSyDA5iXYveRplPZniaysH_wsQjbLa9TLRn8</string>
	<key>GCM_SENDER_ID</key>
	<string>1094333193374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.room</string>
	<key>PROJECT_ID</key>
	<string>roomapp-540ea</string>
	<key>STORAGE_BUCKET</key>
	<string>roomapp-540ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094333193374:ios:e7d9491f440e46940d2f8f</string>
</dict>
</plist>